@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@700&display=swap');
body{
   
    background-image: url(./imagenes/background.jpg);
    
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position-y: 30%;
        background-position-x: 30% ;
        padding : 0 10px;
        user-select: none;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover; 
        font-family: 'Bebas Neue', cursive;
      
     
    
    
} 

/* ---------------- ESTILOS GRILLA ------------------ */ 

.grilla { 
display: flex;
flex-wrap: wrap;
background-color:  rgba(25, 0, 0, 0.5);
display: flex;
} 

.estructura{
 
    justify-content: center;
    align-items: center;

}

.matcheadas{
    text-align: center;
    font-size: 40px;
    margin-top: 32px;
    margin-bottom: 16px;
    font-family: 'Cinzel Decorative', cursive;
}


.puntos{
    display: flex;
    
}

.barra{
    display: flex;
    background-color: crimson;
    justify-content: space-between;
    align-items: center;
}
/* .botones-barra{

} */

.boton
{
    background-color: transparent;
    border: none;
    font-size: 20px;
    
}

#grilla {
    position: relative;
}

#grilla > div {
    position: absolute;
    font-size: 30px;
     width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seleccionado {
    border: 1px solid black;
}